--find-links https://download.pytorch.org/whl/torch/
--find-links https://download.pytorch.org/whl/torchvision/
--find-links https://download.pytorch.org/whl/torchaudio/
torch==2.8.0+cu129
torchvision==0.23.0+cu129
numpy
build
wheel
triton
psutil